
.productList{
   display: flex;
    flex-wrap: wrap;
    padding:0;
    gap: .5rem;
   justify-content: center;
}



@media screen and (max-width:768px) {
    .productList{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding:0;
        gap: .5rem;
    }
}

@media screen and (max-width:576px) {
    .productList{
        grid-template-columns: repeat(2,1fr);
        padding:0;
        gap: .5rem;
    }
}

@media screen and (max-width:400px) {
    .productList{
        grid-template-columns: repeat(2,1fr);
        padding:0;
        gap: .5rem;
    }
}
@media screen and (max-width:350px){
    .productList{
        grid-template-columns: repeat(1,1fr);
        padding:0;
        gap: .5rem;
    }
}