.shopping_cart {
    display: flex;
    padding: 0 3rem;

  }
  
  .product_cart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 50%;
  }
  .heading{
    margin-bottom: 1rem;
    background-color: #eee;
  }
  
  .product{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .product_image{
    margin-right: 2rem;
  }
  
  .product_image img {
    width: 170px;
    max-height: 170px;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .product_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  .product_details button{
    width: 100%;
    padding: .6rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(4, 1, 28);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
  }
  .product_details button:hover{
    background-color: rgb(2, 6, 33);
  }

  .subTotal {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    background-color: #04042b;
    max-height: 400px;
    padding: 1rem;
    border-radius: .5rem;
    position: sticky;
    top: 10rem;
  }
  .check_icon{
    margin-left: 1rem;
    color: green;
    font-size: 1.2rem;
  }
  .subTotal span{
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
    margin-bottom: 1rem;
  }

  .subTotal h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
  }

  .subTotal button{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f0c040;
    color: #04042b;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
  }

  .more_shop{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color:green !important;
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .shopping_cart {
      flex-direction: column;
      padding: 0 1rem;
    }
    .product_cart {
      width: 100%;
      margin-left: 0;
    }
    .subTotal {
      margin-left: 0;
      margin-top: 2rem;
    }
    
  }

  @media screen and (max-width: 370px) {
    .product_details{
      width: 100%;
    }
    .product_details button{
      margin-top: 1rem;
    }
    .product_image img{
      width: 100px;
      max-height: 100px;
    }
    .product{
      flex-direction: column;
      align-items: flex-start;
    }
    .product_image img{
      width: 100%;
    }
    
  }